@font-face{ 
	font-family: 'Oswald';
    src: url(fonts/Oswald-Regular.ttf);
}
@font-face{ 
	font-family: 'Bebas';
    src: url(fonts/BebasNeue.ttf);
}


body{
    background: #f7f7f7;
    color: #1f1f21;
    font-family: Oswald;
}

h1{
    font-family: Bebas;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    text-align:center;
    position: fixed;
}

#content{
    position:absolute;
    top:5em;
    left:0;
    width:100%;
    text-align:center;
    vertical-align: middle;
    //background:orange;
}

.card{
    display: inline-block;
    vertical-align: middle;
}
.qu{
    position: fixed;
}
